#################################
# フォルダ移動時タイトル変更
#################################
function chpwd() { echo -ne "\033]0; $(pwd | rev | awk -F \/ '{print "/"$1"/"$2}'| rev)\007" }

#################################
# sshコンフィグファイル結合
#################################
ssh-config() {
    mv ~/.ssh/config{,.bak}
    cat ~/.ssh/conf.d/*.conf > ~/.ssh/config
}
ssh-open() {
    atom ~/.ssh/conf.d/
}
