#################################
# フォルダ移動時タイトル変更
#################################
function chpwd() { echo -ne "\033]0; $(pwd | rev | awk -F \/ '{print "/"$1"/"$2}'| rev)\007" }

#################################
# sshコンフィグファイル結合
#################################
ssh-config() {
    mv ~/.ssh/config{,.bak}
    cat ~/.ssh/conf.d/*.conf > ~/.ssh/config
    echo > ~/.ssh/known_hosts
}

ssh-open() {
    atom ~/.ssh/conf.d
}

#################################
# フォルダ一括読み込み
#################################

read-dir() {
    DIRPATH=$1
    for FILE in ${DIRPATH}*
    do
        if [ -f $FILE ];then
            source ${FILE}
        fi
    done
}
