#################################
# フォルダ移動時タイトル変更
#################################
function chpwd() { echo -ne "\033]0; $(pwd | rev | awk -F \/ '{print "/"$1"/"$2}'| rev)\007" }


#################################
# フォルダ一括読み込み
#################################
read-dir() {
    DIRPATH=$1
    for FILE in ${DIRPATH}*.zsh
    do
        if [ -f $FILE ];then
            source ${FILE}
        fi
    done
}
